<template>
  <div class="add">
    <bread-crumb parent="商品管理" children="商品列表"></bread-crumb>
    <el-alert title="添加商品信息" type="info" show-icon center :closable="false"></el-alert>
    <el-steps :active="actived-0" finish-status="success" style="margin:26px 0 10px" align-center>
      <el-step :title="item.desc" v-for="(item,index) in tabs" :key="index"></el-step>
    </el-steps>
    <el-tabs
      tab-position="left"
      v-model="actived"
      :before-leave="beforeTabLeave"
      @tab-click="tabClick"
    >
      <el-tab-pane
        :name="index+''"
        :label="item.desc"
        v-for="(item,index) in tabs"
        :key="index"
        style="max-height:460px;overflow-y:scroll"
      >
        <template v-if="item.desc==='基本信息'">
          <el-form
            label-position="top"
            label-width="80px"
            :model="goodsInfo"
            :rules="rules"
            ref="ruleForm"
          >
            <el-form-item label="商品名称" prop="goods_name">
              <el-input v-model="goodsInfo.goods_name"></el-input>
            </el-form-item>
            <el-form-item label="商品价格" prop="goods_price">
              <el-input v-model="goodsInfo.goods_price"></el-input>
            </el-form-item>
            <el-form-item label="商品重量" prop="goods_weight">
              <el-input v-model="goodsInfo.goods_weight"></el-input>
            </el-form-item>
            <el-form-item label="商品数量" prop="goods_number">
              <el-input v-model="goodsInfo.goods_number"></el-input>
            </el-form-item>
            <el-form-item label="商品分类">
              <el-cascader
                v-model="goodsInfo.goods_cat"
                :options="options"
                :props="optionsProps"
                @change="handleChange"
              ></el-cascader>
            </el-form-item>
          </el-form>
        </template>
        <template v-if="item.desc==='商品参数'">
          <el-form label-position="top">
            <el-form-item :label="item.attr_name" v-for="item in manyAttrs" :key="item.attr_id">
              <el-checkbox-group v-model="item.attr_vals">
                <el-checkbox
                  :label="ite"
                  v-for="(ite,ind) in item.attr_vals"
                  :key="ind"
                  border
                  style="margin:0 8px 0 0"
                ></el-checkbox>
              </el-checkbox-group>
            </el-form-item>
          </el-form>
        </template>
        <template v-if="item.desc==='商品属性'">
          <el-form label-position="top" label-width="80px">
            <el-form-item :label="item.attr_name" v-for="item in onlyAttrs" :key="item.attr_id">
              <el-input v-model="item.attr_vals"></el-input>
            </el-form-item>
          </el-form>
        </template>
        <template v-if="item.desc==='商品图片'">
          <el-upload
            class="upload-demo"
            :action="baseURL+'upload'"
            :on-preview="handlePreview"
            :on-remove="handleRemove"
            list-type="picture"
            :headers="headers"
            :on-success="handleSuccess"
          >
            <el-button size="small" type="primary">点击上传</el-button>
          </el-upload>
        </template>
        <template v-if="item.desc==='商品内容'">
          <el-button type="primary" style="margin-bottom:10px" @click="add">添加商品</el-button>
          <quill-editor></quill-editor>
        </template>
      </el-tab-pane>
    </el-tabs>
    <el-dialog title="预览图片" :visible.sync="previewDialogVisible" width="50%">
      <img :src="previewUrl" alt />
    </el-dialog>
  </div>
</template>

<script>
import BreadCrumb from "../../components/BreadCrumb";
import { goodsCategories, goodsAttrs,addGoods } from "../../http/api";
import {_baseURL} from '../../http/index'
import { quillEditor } from "vue-quill-editor";
export default {
  name: "addgoods",
  components: {
    quillEditor
  },
  data() {
    return {
      baseURL:_baseURL,
      tabs: [
        {
          desc: "基本信息"
        },
        {
          desc: "商品参数"
        },
        {
          desc: "商品属性"
        },
        {
          desc: "商品图片"
        },
        {
          desc: "商品内容"
        }
      ],
      actived: "0",
      goodsInfo: {
        goods_name: "",
        goods_price: "",
        goods_weight: "",
        goods_number: "",
        goods_introduce: "",
        pics: [],
        goods_cat: [],
        attrs: []
      },
      options: [],
      optionsProps: {
        value: "cat_id",
        label: "cat_name",
        children: "children",
        expandTrigger: "hover"
      },
      // 商品参数列表
      manyAttrs: [],
      onlyAttrs: [],
      // 上传图片的请求头
      headers: {
        Authorization: localStorage.getItem("token")
      },
      // 图片预览
      previewUrl: "",
      previewDialogVisible: false,
      changeGoods_cat: "",
      // 校验规则
      rules: {
        goods_name: [{ required: true, trigger: "blur" }],
        goods_price: [{ required: true, trigger: "blur" }],
        goods_number: [{ required: true, trigger: "blur" }],
        goods_weight: [{ required: true, trigger: "blur" }]
      }
    };
  },
  components: {
    BreadCrumb
  },
  methods: {
    // 级联选择器选中
    handleChange(val) {
      if (this.goodsInfo.goods_cat.length != 3) {
        this.goodsInfo.goods_cat = [];
    }
    },
    // 获取商品分类
    async goodsCategories() {
      let res = await goodsCategories();
      this.options = res;
    },
    // 级联选择器的处理
    beforeTabLeave(activeName, oldActiveName) {
      if (oldActiveName === "0" && this.goodsInfo.goods_cat.length !== 3) {
        this.$message.error("请选择商品的三级分类");
        return false;
      }
    },
    // 获取商品参数
    async goodsAttrs(sel) {
      return await goodsAttrs(this.cateId, sel);
    },
    // 点击tabs
    tabClick() {
      if (this.actived === "1") {
        this.goodsAttrs("many").then(res => {
          this.manyAttrs = res;
          this.manyAttrs.map(item => {
            item.attr_vals =
              item.attr_vals.length === 0 ? [] : item.attr_vals.split(",");
          });
        });
      } else if (this.actived === "2") {
        this.goodsAttrs("only").then(res => {
          this.onlyAttrs = res;
        });
      }
    },
    // 预览图片
    handlePreview(file) {
      this.previewUrl = file.response.data.url;
      this.previewDialogVisible = true;
    },
    // 删除图片
    handleRemove(file) {
      let fileUrl = file.response.data.tmp_path;
      let index = this.goodsInfo.pics.findIndex(item => item === fileUrl);
      this.goodsInfo.pics.splice(index, 1);
    },
    // 图片上传成功
    handleSuccess(reponse){
      console.log(reponse);
      this.goodsInfo.pics.push(reponse.data.tmp_path);
    },
    // 添加商品
    add() {
      this.$refs["ruleForm"][0].validate(valid => {
        if (valid) {
          this.goodsInfo.goods_cat = this.goodsInfo.goods_cat.join(",");
          // 获取动态参数
          this.manyAttrs.map(item => {
            const newInfo = {
              attr_id: item.attr_id,
              attr_value: item.attr_vals.join(",")
            };
            this.goodsInfo.attrs.push(newInfo);
          });
          // 获取静态参数
          this.onlyAttrs.map(item => {
            const newInfo = {
              attr_id: item.attr_id,
              attr_value: item.attr_vals
            };
            this.goodsInfo.attrs.push(newInfo);
          });
          this.addGoods();
          this.$router.push({
            name:"goods"
          })
        } else {
          return this.$message.error("请填写商品基本信息");
        }
      });
    },
    // 添加商品
    async addGoods(data){
      await addGoods(this.goodsInfo);
    }
  },
  computed: {
    cateId() {
      if (this.goodsInfo.goods_cat.length === 3) {
        return this.goodsInfo.goods_cat[this.goodsInfo.goods_cat.length - 1];
      }
      return null;
    }
  },
  created() {
    this.goodsCategories();
  }
};
</script>

<style lang="scss">
.add {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  .ql-editor {
    height: 200px;
  }
}
</style>