<template>
  <div class="goods">
    <el-breadcrumb separator="/" style="margin-bottom:15px">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>商品管理</el-breadcrumb-item>
      <el-breadcrumb-item>商品列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-form inline>
      <el-form-item>
        <el-input type="text" style="width:350px" v-model="query" @keyup.enter.native="searchGoods">
          <el-button slot="append" icon="el-icon-search" @click="searchGoods"></el-button>
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="addGoods">添加商品</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="goodsList.goods"
      border
      style="width: 100%;overflow-y: auto;
    max-height: 485px"
    >
      <el-table-column type="index" width="50" label="#"></el-table-column>
      <el-table-column prop="goods_name" label="商品名称" width="180"></el-table-column>
      <el-table-column prop="goods_price" label="商品价格"></el-table-column>
      <el-table-column prop="goods_weight" label="商品重量"></el-table-column>
      <el-table-column label="创建日期">
        <template slot-scope="scope">{{scope.row.upd_time | dealDate}}</template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="primary" size="small" icon="el-icon-edit" circle></el-button>
          <el-button
            type="danger"
            size="small"
            icon="el-icon-delete"
            circle
            @click.native="rmGoods(scope.row.goods_id)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- 页码 -->
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="params.pagenum"
      :page-sizes="[2, 4, 6, 8]"
      :page-size="params.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="goodsList.total"
      style="margin-top:15px"
    ></el-pagination>
  </div>
</template>
<script>
import { getGoodsList, rovemeGoods } from "@/http/api";
export default {
  data() {
    return {
      // 商品列表
      goodsList: [],
      // 页码参数
      params: {
        query: "",
        pagenum: 1,
        pagesize: 8
      },
      query: ""
    };
  },
  methods: {
    // 获取商品列表
    async getGoodsList() {
      let res = await getGoodsList(this.params);
      this.goodsList = res;
    },
    handleSizeChange(val) {
      this.params.pagesize = val;
      this.getGoodsList();
    },
    handleCurrentChange(val) {
      this.params.pagenum = val;
      this.getGoodsList();
    },
    // 查询商品
    searchGoods() {
      this.params.query = this.query;
      this.params.pagenum = 1;
      this.getGoodsList();
    },
    // 添加商品跳转路由
    addGoods() {
      this.$router.push({
        name: "addgoods"
      });
    },
    // 删除商品
    async rovemeGoods(id) {
      await rovemeGoods(id);
      this.getGoodsList();
    },
    // 删除商品
    rmGoods(id) {
      this.$confirm("此操作将永久删除该商品, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.rovemeGoods(id);
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    }
  },
  created() {
    this.getGoodsList();
  }
};
</script>
<style lang="scss">
.goods {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
}
</style>