<template>
  <div class="roles">
    <el-breadcrumb separator="/" style="margin-bottom:15px">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>权限管理</el-breadcrumb-item>
      <el-breadcrumb-item>角色列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-button type="primary" @click="dialogVisible=true">添加角色</el-button>
    <el-table :data="roleData" style="width: 100%">
      <el-table-column type="expand">
        <template slot-scope="props">
          <template v-if="props.row.children==''">
            <div>没有权限</div>
          </template>
          <el-row v-for="item in props.row.children" :key="item.id">
            <el-col :span="4">
              <el-tag closable @close="rmRolesRights(props.row.id,item.id)">{{item.authName}}</el-tag>
              <i class="el-icon-arrow-right"></i>
            </el-col>
            <el-col :span="20">
              <el-row v-for="ite in item.children" :key="ite.id">
                <el-col :span="6">
                  <el-tag
                    type="success"
                    closable
                    @close="rmRolesRights(props.row.id,ite.id)"
                  >{{ite.authName}}</el-tag>
                  <i class="el-icon-arrow-right"></i>
                </el-col>
                <el-col :span="18">
                  <el-tag
                    type="warning"
                    closable
                    v-for="_ite in ite.children"
                    :key="_ite.id"
                    @close="rmRolesRights(props.row.id,_ite.id)"
                  >{{_ite.authName}}</el-tag>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
      <el-table-column label="#" type="index"></el-table-column>
      <el-table-column label="角色名称" prop="roleName"></el-table-column>
      <el-table-column label="角色描述" prop="roleDesc"></el-table-column>
      <el-table-column label="操作" prop="desc">
        <template slot-scope="scope">
          <el-button
            type="primary"
            size="small"
            icon="el-icon-edit"
            circle
            @click="handleEdit(scope.row)"
          ></el-button>
          <el-button
            type="danger"
            size="small"
            icon="el-icon-delete"
            circle
            @click="handleRm(scope.row)"
          ></el-button>
          <el-button
            type="success"
            size="small"
            icon="el-icon-check"
            circle
            @click="handleRights(scope.row)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog title="添加角色" :visible.sync="dialogVisible" width="50%">
      <el-form
        :model="rolesForm"
        ref="rolesForm"
        label-width="100px"
        class="demo-ruleForm"
        :rules="rules"
      >
        <el-form-item label="角色名称" prop="roleName">
          <el-input v-model="rolesForm.roleName"></el-input>
        </el-form-item>
        <el-form-item label="角色描述" prop="roleDesc">
          <el-input v-model="rolesForm.roleDesc"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible=false">取 消</el-button>
        <el-button type="primary" @click="handleSure">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="编辑角色" :visible.sync="editDialogVisible" width="50%">
      <el-form
        :model="editForm"
        ref="editForm"
        label-width="100px"
        class="demo-ruleForm"
        :rules="rules"
      >
        <el-form-item label="角色名称" prop="roleName">
          <el-input v-model="editForm.roleName"></el-input>
        </el-form-item>
        <el-form-item label="角色描述" prop="roleDesc">
          <el-input v-model="editForm.roleDesc"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editDialogVisible=false">取 消</el-button>
        <el-button type="primary" @click="handleEditSure">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="分配权限" :visible.sync="allotDialogvisible" width="50%">
      <el-tree
        :data="data"
        show-checkbox
        node-key="id"
        default-expand-all
        :default-checked-keys="selectKeys"
        :props="defaultProps"
        ref="treeRights"
      ></el-tree>
      <span slot="footer" class="dialog-footer">
        <el-button @click="allotDialogvisible=false">取 消</el-button>
        <el-button type="primary" @click="handleAllotRights">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import {
  addRoles,
  getRoleList,
  rmRolesRights,
  editRoles,
  rmRoles,
  rightsList,
  rolesAuth
} from "@/http/api";
export default {
  data() {
    return {
      roleData: [],
      dialogVisible: false,
      rolesForm: {
        roleName: "",
        roleDesc: ""
      },
      editDialogVisible: false,
      editForm: {
        roleName: "",
        roleDesc: "",
        id: ""
      },
      allotDialogvisible: false,
      rules: {
        roleName: [
          {
            required: true,
            message: "角色名称不能为空"
          }
        ],
        roleDesc: [
          {
            required: true,
            message: "角色描述不能为空"
          }
        ]
      },
      // 树形控件
      data: [],
      defaultProps: {
        children: "children",
        label: "authName"
      },
      // 树形控件默认选中的节点
      selectKeys: [],
      roleId:""
    };
  },
  methods: {
    // 添加角色
    async addRoles() {
      await addRoles(this.rolesForm.roleName, this.rolesForm.roleDesc);
    },
    // 提交添加角色
    handleSure() {
      this.dialogVisible = false;
      this.addRoles();
      this.$refs.rolesForm.resetFields();
      this.getRoleList();
      this.$refs.rolesForm.resetFields();
    },
    // 获取角色列表
    async getRoleList() {
      let res = await getRoleList();
      this.roleData = res;
    },
    // 删除角色指定权限
    async rmRolesRights(roleId, rightId) {
      await rmRolesRights(roleId, rightId);
      this.getRoleList();
    },
    // 提交编辑角色
    async editRoles(obj) {
      await editRoles(obj);
    },
    // 点击编辑按钮
    handleEdit(obj) {
      this.editDialogVisible = true;
      const { roleName, roleDesc, id } = obj;
      this.editForm = {
        roleName,
        roleDesc,
        id
      };
    },
    // 确认编辑角色按钮
    handleEditSure() {
      this.editDialogVisible = false;
      this.editRoles(this.editForm);
      this.getRoleList();
    },
    // 删除角色
    async rmRoles(id) {
      await rmRoles(id);
      this.getRoleList();
    },
    // 删除角色
    handleRm(obj) {
      this.$confirm("此操作将永久删除该用户,  是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.rmRoles(obj.id);
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    //权限列表
    async rightsList(type) {
      let res = await rightsList(type);
      this.data = res;
    },
    // 编辑按钮
    handleRights(node) {
      this.selectKeys = [];
      this.rightsList('tree');
      this.getSelectKeys(node, this.selectKeys);
      this.allotDialogvisible = true;
      this.roleId=node.id;
    },
    // 获取选中的节点
    getSelectKeys(node, arr) {
      if (!node.children) {
        return arr.push(node.id);
      }
      node.children.forEach(item => this.getSelectKeys(item, arr));
    },
    // 确定授权
    handleAllotRights(){
      const keys=[
        ...this.$refs.treeRights.getCheckedKeys(),
        ...this.$refs.treeRights.getHalfCheckedKeys(),
      ];
      const idStr=keys.join(',');
      this.rolesAuth(this.roleId,idStr);
      this.allotDialogvisible=false;
      this.getRoleList();
    },
    //角色授权
    async rolesAuth(roleId,rids){
      await rolesAuth(roleId,rids)
    }
  },
  created() {
    this.getRoleList();
  }
};
</script>
<style lang="scss">
.roles {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
}
</style>