<template>
  <div class="index">
    <el-container style="height: 100vh; border: 1px solid #eee">
      <el-aside :width="isCollapse?'64px':'200px'" style="background-color:rgb(0, 21, 41);">
        <el-menu
          style="background-color:rgb(0, 21, 41);"
          router
          :default-active="$route.path"
          :collapse="isCollapse"
          :collapse-transition='false'
          
        >
        <template v-if="!isCollapse">
          <h3 class="title">后台管理</h3>
        </template>
          <el-submenu :index="''+index" v-for="(item,index) in menus" :key="item.id">
            <template slot="title" v-if="item.path=='users'">
              <i class="el-icon-s-grid"></i>
              <span>{{item.authName}}</span>
            </template>
            <template slot="title" v-if="item.path=='rights'">
              <i class="el-icon-message"></i>
              <span>{{item.authName}}</span>
            </template>
            <template slot="title" v-if="item.path=='goods'">
              <i class="el-icon-s-comment"></i>
              <span>{{item.authName}}</span>
            </template>
            <template slot="title" v-if="item.path=='orders'">
              <i class="el-icon-camera"></i>
              <span>{{item.authName}}</span>
            </template>
            <template slot="title" v-if="item.path=='reports'">
              <i class="el-icon-picture-outline-round"></i>
              <span>{{item.authName}}</span>
            </template>
            <el-menu-item
              v-for="ite in item.children"
              :key="ite.id"
              :index="'/index/'+ite.path"
            >{{ite.authName}}</el-menu-item>
          </el-submenu>
        </el-menu>
      </el-aside>

      <el-container>
        <el-header style="display:flex;justify-content:space-between;font-size: 12px">
          <!-- 侧边栏折叠按钮 -->
          <div class="btn-toggle" @click="changeAside">
            <i class="el-icon-fork-spoon" style="font-size:20px"></i>
          </div>
          <div class="btn-set">
            <el-dropdown>
              <i class="el-icon-setting" style="margin-right: 15px"></i>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item @click.native="logOut">退出</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
            <span>{{username}}</span>
          </div>
        </el-header>
        <el-main>
          <router-view></router-view>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>
<script>
import { mapState, mapMutations } from "vuex";
import { getMenus } from "@/http/api";
export default {
  methods: {
    ...mapMutations(["initState"]),
    logOut() {
      this.initState();
      this.$router.push({
        name: "login"
      });
    },
    changeAside(){
      this.isCollapse=!this.isCollapse
    }
  },
  data() {
    const item = {
      date: "2016-05-02",
      name: "王小虎",
      address: "上海市普陀区金沙江路 1518 弄"
    };
    return {
      tableData: Array(20).fill(item),
      menus: [],
      isCollapse: true
    };
  },
  computed: {
    ...mapState(["username"])
  },
  created() {
    getMenus().then(res => {
      this.menus = res;
    });
  }
};
</script>
<style lang="scss">
.el-header {
  background-color: #fff;
  color: #333;
  line-height: 60px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.el-aside {
  color: #333;
}
.index {
  .el-aside {
    .title {
      line-height: 60px;
      text-align: center;
      color: #fff;
    }
    .el-menu {
      background-color: rgb(0, 21, 41);
      border-right: none;
    }
    .el-submenu {
      .el-menu {
        background-color: rgb(0, 21, 41);
      }
      .el-menu-item {
        background-color: rgb(0, 21, 41);
        color: #999;
        &.is-active {
          color: #fff;
        }
      }
      .el-submenu__title {
        color: #999;
        background-color: rgb(0, 21, 41);
      }
      .el-menu-item-group {
        .el-menu-item-group__title {
          font-size: 14px;
          height: 50px;
          line-height: 50px;
          padding: 0 45px;
          cursor: pointer;
          min-width: 200px;
        }
      }
    }
  }
  .el-main {
    background: #eee;
  }
  .btn-toggle {
    width: 59px;
    line-height: 59px;
    text-align: center;
    cursor: pointer;
  }
}
</style>