<template>
  <div class="login">
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <h4>欢迎登陆</h4>
      </div>
      <el-form
        :model="ruleForm"
        status-icon
        :rules="rules"
        ref="ruleForm"
        class="demo-ruleForm"
        size="small"
      >
        <el-form-item prop="username">
          <el-input v-model.number="ruleForm.username" placeholder="用户名">
            <el-button slot="prepend" icon="el-icon-user-solid"></el-button>
          </el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input type="password" v-model="ruleForm.password" placeholder="密码">
            <el-button slot="prepend" icon="el-icon-lock"></el-button>
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-button class="w-100" type="primary" @click="submitForm('ruleForm')">登录</el-button>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>
<style scoped lang="scss">
.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.box-card {
  width: 480px;
}
.login {
  height: 100vh;
  width: 100vw;
  background-image: url("https://file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .box-card {
    width: 300px;
    margin-right: 160px;
    border-radius: 15px;
    .clearfix {
      > h4 {
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}
</style>
<script>
import { mapMutations } from 'vuex'
export default {
  data() {
    var validatepassword = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请输入密码"));
      } else {
        callback();
      }
    };
    var validateusername = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请输入用户名"));
      } else {
        callback();
      }
    };
    return {
      ruleForm: {
        password: "",
        username: ""
      },
      rules: {
        password: [{ validator: validatepassword, trigger: "blur" }],
        username: [{ validator: validateusername, trigger: "blur" }]
      }
    };
  },
  methods: {
    ...mapMutations(['setData']),
    submitForm(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          try {
            const res= await this.login();
            const {token,username}=res.data;
            this.setData({token,username});
            this.$router.push({
              name: "index"
            });
          } catch (err) {
            console.log(err,'111');
          }
        } else {
          return false;
        }
      });
    },
    login() {
      return this.http("login", "post", this.ruleForm,true)
        .then(res => {
          this.$message({
            message: res.meta.msg,
            type: "success"
          });
          return res;
        })
        .catch(res => {});
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    }
  }
};
</script>