<template>
  <div class="users">
    <el-breadcrumb separator="/" style="margin-bottom:15px">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>用户管理</el-breadcrumb-item>
      <el-breadcrumb-item>用户列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-form inline>
      <el-form-item>
        <el-input type="text" style="width:350px" v-model="query" @keyup.enter.native="searchusers">
          <el-button slot="append" icon="el-icon-search" @click="searchusers"></el-button>
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="dialogVisible=true">添加用户</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="usersList.users" border style="width: 100%;overflow-y: auto;
    max-height: 485px">
      <el-table-column type="index" width="50" label="#"></el-table-column>
      <el-table-column prop="username" label="姓名" width="180"></el-table-column>
      <el-table-column prop="email" label="邮箱"></el-table-column>
      <el-table-column prop="mobile" label="电话"></el-table-column>
      <el-table-column label="创建日期">
        <template slot-scope="scope">{{scope.row.create_time | dealDate}}</template>
      </el-table-column>
      <el-table-column label="用户状态">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.mg_state"
            active-color="#13ce66"
            inactive-color="#ff4949"
            @click.native="updateUser(scope.row)"
          ></el-switch>
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
            type="primary"
            size="small"
            icon="el-icon-edit"
            circle
            @click.native="edituserinfo(scope.row)"
          ></el-button>
          <el-button
            type="danger"
            size="small"
            icon="el-icon-delete"
            circle
            @click.native="rmuserinfo(scope.row.id)"
          ></el-button>
          <el-button
            type="success"
            size="small"
            icon="el-icon-check"
            circle
            @click.native="allotuserinfo(scope.row)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="params.pagenum"
      :page-sizes="[2, 4, 6, 8]"
      :page-size="params.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="usersList.total"
      style="margin-top:15px"
    ></el-pagination>
    <el-dialog title="添加用户" :visible.sync="dialogVisible" width="50%">
      <el-form
        :model="userForm"
        ref="ruleForm"
        label-width="100px"
        class="demo-ruleForm"
        :rules="rules"
      >
        <el-form-item label="用户名" prop="username">
          <el-input v-model="userForm.username"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
          <el-input v-model="userForm.password"></el-input>
        </el-form-item>
        <el-form-item label="电话" prop="mobile">
          <el-input v-model="userForm.mobile"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" prop="email" v-model="userForm.email">
          <el-input v-model="userForm.email"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible=false">取 消</el-button>
        <el-button type="primary" @click="sure">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="编辑用户" :visible.sync="editDialogVisible" width="50%">
      <el-form
        :model="editForm"
        ref="editForm"
        label-width="100px"
        class="demo-ruleForm"
        :rules="rules"
      >
        <el-form-item label="用户名" class="editUsername">
          <el-input v-model="editForm.username" disabled></el-input>
        </el-form-item>
        <el-form-item label="电话">
          <el-input v-model="editForm.mobile"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" v-model="editForm.email">
          <el-input v-model="editForm.email"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editDialogVisible=false">取 消</el-button>
        <el-button type="primary" @click="editSure">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="分配角色" :visible.sync="allotDialogVisible" width="50%">
      <el-form
        :model="editForm"
        ref="editForm"
        label-width="100px"
        class="demo-ruleForm"
        :rules="rules"
      >
        <el-form-item label="用户名" class="allotUsername">
          <el-input v-model="allotForm.username" disabled></el-input>
        </el-form-item>
        <el-form-item label="角色">
          <el-select v-model="allotForm.rid" placeholder="请选择">
            <el-option :value="-1" label="请选择"></el-option>
            <el-option
              v-for="item in roleOptions"
              :key="item.id"
              :label="item.roleName"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="allotDialogVisible=false">取 消</el-button>
        <el-button type="primary" @click="handleAllot">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import {
  getUsers,
  addUsers,
  updateUser,
  editUser,
  rmUser,
  queryUser,
  getRoleList,
  editAllot
} from "@/http/api";
export default {
  methods: {
    handleSizeChange(val) {
      this.params.pagesize = val;
      this.getUsers();
    },
    handleCurrentChange(val) {
      this.params.pagenum = val;
      this.getUsers();
    },
    async getUsers() {
      const res = await getUsers(this.params);
      this.usersList = res;
    },
    // 查询用户
    searchusers() {
      this.params.query = this.query;
      this.params.pagenum=1;
      this.getUsers();
    },
    async addUsers(data) {
      return await addUsers(data);
    },
    //添加用户确定
    sure() {
      this.$refs.ruleForm.validate(async valid => {
        if (valid) {
          await this.addUsers(this.userForm);
          this.dialogVisible = false;
          this.getUsers();
          this.$refs.ruleForm.resetFields();
        } else {
          return false;
        }
      });
    },
    //改变用户状态
    async updateUser(obj) {
      await updateUser(obj.id, obj.mg_state);
      this.getUsers();
    },
    //编辑用户信息
    edituserinfo(obj) {
      this.editDialogVisible = true;
      const { username, mobile, email, id } = obj;
      this.editForm = {
        username,
        mobile,
        email,
        id
      };
    },
    // 编辑用户提交
    async editSure() {
      this.editDialogVisible = false;
      await editUser(this.editForm);
      this.getUsers();
    },
    //删除用户信息
    rmuserinfo(id) {
      this.$confirm("此操作将永久删除该用户, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.rmUser(id);
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    // 删除用户
    async rmUser(id) {
      await rmUser(id);
      this.getUsers();
    },
    // 分配用户角色
    allotuserinfo(obj) {
      this.allotDialogVisible = true;
      this.getRoleList();
      const { username, id } = obj;
      this.allotForm = Object.assign(this.allotForm, {
        username,
        id
      });
      this.queryUser(this.allotForm.id);
    },
    // 根据用户id查询角色id
    async queryUser(id) {
      const { rid } = await queryUser(id);
      this.allotForm = Object.assign(this.allotForm, {
        rid
      });
    },
     async getRoleList(){
      let res=await getRoleList();
      this.roleOptions=res;
    },
    // 提交用户角色修改
    handleAllot(){
      this.allotDialogVisible=false;
      this.editAllot();
    },
    async editAllot(){
      const {id,rid}=this.allotForm;
      await editAllot(id,rid);
      this.getUsers();
    }
  },
  data() {
    return {
      usersList: [],
      query: "",
      dialogVisible: false,
      editDialogVisible: false,
      allotDialogVisible: false,
      params: {
        query: "",
        pagenum: 1,
        pagesize: 4
      },
      userForm: {
        username: "",
        password: "",
        mobile: "",
        email: ""
      },
      editForm: {
        username: "",
        mobile: "",
        email: "",
        id: ""
      },
      allotForm: {
        username: "",
        id: "",
        rid: ""
      },
      roleOptions:[],
      rules: {
        username: [
          {
            required: true,
            message: "请输入用户名"
          }
        ],
        password: [
          {
            required: true,
            message: "请输入密码"
          }
        ]
      }
    };
  },
  created() {
    this.getUsers();
  }
};
</script>
<style lang="scss">
.users {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
}
</style>